@import '../../variables';

.map {
  float: right;
  height: calc(100vh - 128px);
  margin-top: 126px;
  width: 100%;

  @include tablet {
    height: 100vh;
    margin-top: 0;
    position: absolute !important;
    right: 0;
    top: 0;
    width: 65%;
  }

  @include chromebase {
    height: calc(50vh - 64px);
    top: 64px;
    width: 100%;
  }
}
