@import '../../variables';

.splash {
    background: $color-highlight;
    cursor: pointer;
    height: 100vh;
    left: 0;
    opacity: 0;
    position: fixed;
    transition: opacity 1s ease-out;
    transition-delay: .2s;
    width: 35vw;
    z-index: 99;

    @include chromebase {
        width: 100vw;
    }

    &.show {
        @include mobile {
            display: none;
        }

        @include tablet {
            opacity: 1;
        }
    }

    &.hide {
        opacity: 0;
        pointer-events: none;
    }

    .inner {
        left: 50%;
        padding: 0 40px;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;

        .worldy {
            background: $color-white;
            border-radius: 50%;
            display: block;
            margin: 0 auto 20px auto;
            width: 50%;
        }

        .logo,
        .description {
            color: $color-white;
            text-align: center;
        }

        .logo {
            font-size: 1.5em;
            margin-bottom: .7em;
        }

        .description {
            font-size: 1.2em;
        }
    }
}