<md-card class="form-container" [ngClass]="{'show-form': showForm === true, 'slide-up': slideFormUp === true }">
  <h3>Add a location</h3>
  <md-input-container class="md-block" floatPlaceholder="never" class="alt">
    <input mdInput placeholder="&nbsp;City, Country" type="text" id="autocomplete" [(ngModel)]="newLocation" (focus)="showForm = true; globalService.showForm.next(true);"/>
  </md-input-container>

  <h3>When did you visit?</h3>
  <md-input-container floatPlaceholder="never" class="alt">
    <input mdInput [mdDatepicker]="picker" [max]="maxDate" placeholder="&nbsp;Choose a date" [(ngModel)]="newDate" (focus)="picker.open()">
    <button mdSuffix [mdDatepickerToggle]="picker"></button>
  </md-input-container>
  <md-datepicker touchUi="true" #picker></md-datepicker>

  <h3>Share a recommendation</h3>
  <textarea maxlength="140" placeholder="Location tip (140 characters max)" type="text" id="tip" [(ngModel)]="newTip"></textarea>
  <!--<md-select placeholder="Post tag" [(ngModel)]="newTag">
    <md-option *ngFor="let tag of tags" [value]="tag.value">
      {{ tag.value }}
    </md-option>
  </md-select>-->

  <md-input-container class="md-block no-height">
    <input mdInput placeholder="Location Coordinates" type="text" id="coordinates" disabled [(ngModel)]="newCoordinates" />
  </md-input-container>
  <button
    md-raised-button
    *ngIf="!postKey"
    (click)="addPost(newLocation, newCoordinates, newTip, newDate)"
    [ngClass]="{ 'disabled-button': !newLocation || !newCoordinates || !newTip }"
    class="save-post">Submit</button>
  <button
    md-raised-button
    *ngIf="postKey"
    (click)="updatePost(postKey, newLocation, newCoordinates, newTip, newDate)"
    [ngClass]="{ 'disabled-button': !newLocation || !newCoordinates || !newTip }"
    class="update-post">Update</button>
</md-card>

