@import '../../variables';

.post-card {
  @extend %transition;
  position: relative;
  transition-property: height;
}

.post-name {
  color: $color-main;
  float: left;
  font-size: 22px;
  width: 100%;
}

.post-location {
  color: $color-highlight;
  cursor: pointer;
  display: block;
  font-size: 1em;
  padding: 20px 25px 8px 0;

  md-icon {
    color: $color-white;
  }
}

.post-likes {
  color: $color-grey;
  font-size: .75em;
  margin-bottom: -10px;
  margin-top: 10px;
}

.post-date {
  color: $color-grey;
  float: right;
  font-size: .9em;
  margin-top: 10px;
}

.post-user {
  color: $color-grey;
  cursor: pointer;
  float: left;
  font-style: italic;
  font-size: .7em;
  width: 100%;

  img {
    border-radius: 50%;
    height: 18px;
    margin: -3px 0 0 3px;
    vertical-align: middle;
    width: 18px;
  }

  .visit-date {
    color: darken($color-grey, 20%);
    float: right;
    font-size: .8em;
    margin-top: 3px;
    vertical-align: middle;
  }
}

.post-tip {
  color: $color-grey;
  padding: 10px 5px 0 0;
}

.active {
  color: $color-gold;
}

md-icon {
  color: $color-grey-light;
  cursor: pointer;
  font-size: 21px;
  margin-right: -4px;
  vertical-align: middle;
}

.delete-post {
  cursor: pointer;
  display: block;
  font-size: 0.8em;
  margin: 10px 0 -15px 0;
  text-align: right;

  md-icon {
    color: $color-main;
    opacity: .2;
  }
}

.user-photo {
  display: inline-block;
  width: 70px;

  img {
    border-radius: 50%;
    vertical-align: middle;
    width: 65px;
  }
}

.user-info {
  display: inline-block;
  width: calc(100% - 205px);
  vertical-align: middle;

  .post-count {
    color: $color-grey;
    font-size: .8em;

    md-icon {
      font-size: 1.3em;
      margin: 6px -9px 0 -5px;
    }

    .user-icon {
      color: lighten($color-grey, 10%);
      font-size: 1.4em;
      margin: 6px -3px 0 -5px;
    }
  }

  .user-counter {
    transform: translateY(3px);
  }
}

.published-date {
  float: right;
}

.profile-button {
  display: inline-block;
  float: right;
  margin: 15px 20px 0 0;
  width: 110px;
}

.destination-button {
  display: inline-block;
  float: right;
  margin: -18px 20px 0 0;
  width: 110px;
}

