<md-toolbar>
  <span class="logo">Beyond Adventure Log</span>
  <img *ngIf="(af.auth | async)?.uid" src="{{ (af.auth | async)?.auth.photoURL }}" class="profile-image" [mdMenuTriggerFor]="menu">
  <md-menu #menu="mdMenu">
    <button md-menu-item (click)="filterByCurrentUser()">My Profile</button>
    <button md-menu-item (click)="logout()">Logout</button>
  </md-menu>
  <img src="../../assets/worldy.svg" class="header-logo" (click)="resetPosts()">
  <button *ngIf="!(af.auth | async)?.uid" md-raised-button (click)="login()" class="login">Login</button>
  <button *ngIf="(af.auth | async)?.uid" md-raised-button (click)="togglePostForm()" class="alt">
    <span *ngIf="showForm !== true">Add a Location</span>
    <span *ngIf="showForm === true">Hide</span>
  </button>
</md-toolbar>

<md-sidenav
  class="md-sidenav-left"
  md-component-id="left"
  md-disable-backdrop
  md-is-locked-open="true"
  md-is-open="true"
  md-whiteframe="4"
  [ngClass]="{ 'full-height': showReset || searchTerm || showForm }">

  <add-form></add-form>

  <div class="clearfix"></div>

  <div class="search-container">
    <md-input-container floatPlaceholder="never" class="search-posts">
      <input mdInput placeholder="Search {{ searchLabel }}" [(ngModel)]="searchTerm">
      <md-icon *ngIf="searchTerm && searchTerm !== ''" (click)="resetPosts()">close</md-icon>
    </md-input-container>
    <md-select class="search-sort" [(ngModel)]="orderBy">
      <md-option value="newestPosts" (click)="showNewestPosts()" [ngClass]="{ 'highlight-text': orderBy === 'newestPosts' }">Newest Posts</md-option>
      <md-option value="popularPosts" (click)="showPopularPosts()" [ngClass]="{ 'highlight-text': orderBy === 'popularPosts' }">Popular Posts</md-option>
      <md-option value="topUsers" (click)="showTopUsers()" [ngClass]="{ 'highlight-text': orderBy === 'topUsers' && globalService.filterBy.getValue() === 'topUsers' }">Top Users</md-option>
      <md-option value="topDestinations" (click)="showTopDestinations()" [ngClass]="{ 'highlight-text': orderBy === 'topDestinations' && globalService.filterBy.getValue() === 'topDestinations' }">Top Destinations</md-option>
    </md-select>
    <!-- <md-icon class="sort" [mdMenuTriggerFor]="sort">sort</md-icon>
    <md-menu #sort="mdMenu">
      <button md-menu-item (click)="showNewestPosts()" [ngClass]="{ 'highlight-text': orderBy === 'newestPosts' }">Newest Posts</button>
      <button md-menu-item (click)="showPopularPosts()" [ngClass]="{ 'highlight-text': orderBy === 'popularPosts' }">Popular Posts</button>
      <button md-menu-item (click)="showTopUsers()" [ngClass]="{ 'highlight-text': orderBy === 'topUsers' && globalService.filterBy.getValue() === 'topUsers' }">Top Users</button>
      <button md-menu-item (click)="showTopDestinations()" [ngClass]="{ 'highlight-text': orderBy === 'topDestinations' && globalService.filterBy.getValue() === 'topDestinations' }">Top Destinations</button>
    </md-menu> -->
  </div>

  <div
    class="posts-container"
    [ngClass]="{ 'push-down': showReset || searchTerm, 'visible': showReset || searchTerm }">

    <div class="text-center no-results" *ngIf="searchTerm && searchTerm !== '' && !showCurrentUserProfile && (filteredPosts | async | search: searchTerm)?.length === 0">No search results</div>

    <div *ngIf="!showCurrentUserProfile" class="full-list">
      <h2 class="headline" *ngIf="(filterBy === 'user' || filterBy === 'location') && (filteredPosts | async | search: searchTerm)?.length > 0" [ngClass]="{'green': filterBy === 'location'}">
        <span *ngIf="filterBy === 'user'"><img src="{{ (users | async | get: currentUserId)?.photoURL }}"> {{ currentUserName | lastNamePipe }}</span>
        <div class="user-likes" *ngIf="filterBy === 'user'"><md-icon class="active">star</md-icon>
          <span *ngIf="(users | async | get: currentUserId)?.likesCount">{{ (users | async | get: currentUserId)?.likesCount * -1 }}</span>
          <span *ngIf="!(users | async | get: currentUserId)?.likesCount">0</span>
          like<span *ngIf="(users | async | get: currentUserId)?.likesCount !== -1">s</span>
        </div>
        <div class="user-locations" *ngIf="filterBy === 'user'"><md-icon>location_on</md-icon> {{ (users | async | get: currentUserId)?.posts_count * -1 }} destinations</div>
        <span *ngIf="filterBy === 'location'"><md-icon>location_on</md-icon> {{ globalService.currentLocation }}</span>
        <!--<span *ngIf="filterBy === 'tag'"><img src="../../assets/tags/{{ globalService.currentTag | slugify }}.jpg"> {{ globalService.currentTag }}</span>-->
      </h2>
      <span *ngFor="let post of filteredPosts | async | search: searchTerm" >
        <md-card class="post-card" *ngIf="post.posts_count || post.likes_count || post.tip">
          <post-card [post]="post"></post-card>
        </md-card>
      </span>
    </div>

    <h2 class="headline" *ngIf="showCurrentUserProfile">
      <img *ngIf="(af.auth | async)?.uid" src="{{ (af.auth | async)?.auth.photoURL }}"> My Profile
      <div class="user-likes"><md-icon class="active">star</md-icon>
        <span *ngIf="(users | async | get: userId)?.likesCount">{{ (users | async | get: userId)?.likesCount * -1 }}</span>
        <span *ngIf="!(users | async | get: userId)?.likesCount">0</span>
        like<span *ngIf="(users | async | get: userId)?.likesCount !== -1">s</span>
      </div>
    </h2>
    <md-tab-group *ngIf="showCurrentUserProfile">
      <md-tab label="My Posts ({{ currentUserPostCount }})">
        <div *ngIf="(userPosts | async)" class="my-posts">
          <md-card *ngFor="let post of userPosts | async | search: searchTerm" class="post-card">
            <post-card [post]="post.$key"></post-card>
          </md-card>
        </div>

        <h5 class="text-center" *ngIf="(!(userPosts | async) || (userPosts | async)?.length === 0)">
          You haven't created any posts!
        </h5>
      </md-tab>
      <md-tab label="Liked Posts ({{ currentUserLikedCount }})">
        <div *ngIf="(userLikedPosts | async)">
          <md-card *ngFor="let post of userLikedPosts | async" class="post-card">
            <post-card [post]="post.$key"></post-card>
          </md-card>
        </div>

        <h5 class="text-center" *ngIf="(!(userLikedPosts | async) || (userLikedPosts | async)?.length === 0)">
          You haven't liked any posts!
        </h5>
      </md-tab>
    </md-tab-group>

  </div>
</md-sidenav>
