@import '../../variables';

.sign-in {
  background: url('../../assets/map-bg.jpg');
  background-size: cover;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;

  .button-container {
    left: 50%;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

    img {
      margin-left: -210px;
      width: 120px;
    }

    h1 {
      @extend %font-serif;
      font-size: 3em;
      font-weight: 900;
      margin-top: -8px;
    }
  }
}

.login-container {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 11;

  .add-location {
    margin-right: 60px;
    @include tablet {
      display: none;
    }
  }
}

.profile-image {
  @extend %transition;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  transition-property: transform;
  width: 42px;

  @include tablet {
    position: fixed;
    right: 20px;
    top: 15px;
    width: 45px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.md-sidenav-left {
  background: transparent;
  box-sizing: border-box;
  display: inline-block;
  height: 60px;
  left: 0;
  overflow: scroll;
  position: fixed;
  top: 75px;
  transition: background .3s ease-out, height .3s ease-out;
  vertical-align: top;
  width: 100%;
  z-index: 1;

  @include mobile {
    &.full-height {
      height: calc(100vh - 75px);
    }
  }

  @include tablet {
    background: $bg-gradient;
    filter: $bg-filter;
    height: 100vh;
    min-width: 600px;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    top: 0;
    width: 40%;
  }

  @include chromebase {
    background: $bg-gradient-up;
    filter: $bg-filter;
    height: 56vh;
    position: fixed;
    top: 44vh;
    width: 100%;
    z-index: 1;
  }

  &:focus {
    outline: 0;
  }
}

.sidenav-inner {
  @include tablet {
    height: 100vh;
    max-width: 450px;
    pointer-events: initial;
    position: relative;
    width: 100%;
  }
}

header {
  left: 0;
  padding: 30px;
  position: fixed;
  top: 0;

  @include tablet {
    position: static;
  }

  h1 {
    @extend %font-serif;
    font-size: 3em;
    font-weight: 900;
    margin: 0 0 15px 0;
  }

  img {
    width: 80px;
  }

}

.divider {
  background: $color-black;
  height: 3px;
  width: 80px;
}

.no-results {
  color: $color-grey;
  margin-top: 30px;
}

.search-container {
  background: transparent;
  box-sizing: border-box;
  display: block;
  left: 0;
  padding: 0 30px;
  position: fixed;
  top: 75px;
  width: 100%;
  z-index: 1;

  @include tablet {
    max-width: 450px;
    top: 162px;
    width: 35%;
  }

  @include chromebase {
    top: 60vh;
    width: 100%;
  }

  .search-posts {
    @extend %font-serif;
    background: $color-highlight;
    border-radius: 40px;
    box-sizing: border-box;
    color: $color-white;
    display: inline-block;
    padding: 0 25px;
    width: 100%;

    @include chromebase {
      width: 50%;
    }

    md-icon {
      color: $color-white;
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 5px;
    }

    .mat-input-element {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
  }

  .sort-container {
    text-align: center;

    @include chromebase {
      float: right;
      display: inline-block;
      margin-top: 10px;
    }

    .chip {
      @extend %transition;
      cursor: pointer;
      display: inline-block;
      background: lighten($color-grey, 20%);
      border-radius: 40px;
      color: $color-black;
      font-size: .7em;
      padding: 7px 9px;
      text-transform: uppercase;
      transition-property: background, color;

      &.highlight-chip {
        background: $color-highlight;
        color: $color-white;
      }
    }
  }
}

.posts-container {
  @extend %transition;
  display: none;
  height: calc(100vh - 260px);
  opacity: 0;
  overflow: scroll;
  transition-property: opacity, height, transform;

  @include mobile {
    background: rgba(255,255,255,.9);

    &.visible {
      display: block;
      opacity: 1;
    }
  }

  @include tablet {
    background: transparent;
    display: block;
    opacity: 1;

    &.logged-in {
      height: calc(100vh - 370px);
    }

    &.form-open {
      height: calc(100vh - 670px);
    }
  }

  @include chromebase {
    display: block;
    height: calc(56vh - 215px);
    opacity: 1;

    &.logged-in {
      height: calc(56vh - 260px);
    }

    &.form-open {
      height: calc(56vh - 555px);
    }
  }

  &.push-down {
    overflow: scroll;

    @include tablet {
      transform: translate3d(0, 5px, 0);
    }
  }

  &.push-down-more {
      transform: translate3d(0, 130px, 0);

      @include tablet {
        transform: translate3d(0, 85px, 0);
      }

      @include chromebase {
        transform: translate3d(0, 45px, 0);
      }
  }

  @include tablet {
    .full-list {
      > span:first-of-type {
        .post-card {
          padding-top: 0;
        }
      }
    }
  }
}

.headline {
  @extend %font-serif;
  box-sizing: border-box;
  color: $color-main;
  height: 78px;
  line-height: 78px;
  margin: 0 0 -2px 0;
  padding: 0 24px;

  md-icon {
    color: $color-main;
    font-size: 26px;
    margin-top: -7px;
    vertical-align: middle;
  }

  &.green {
    color: $color-main;

    md-icon {
      color: $color-highlight;
    }
  }

  img {
    border-radius: 50%;
    margin: 0 5px 0 0;
    vertical-align: middle;
    width: 50px;
  }
}

.post-card {
  background: transparent;
  box-shadow: none;
  font-size: 1em;
  margin: 8px 5px;
  padding-top: 1em;
}

.user-likes,
.user-locations {
  border-radius: 5px;
  color: $color-grey;
  float: right;
  font-size: 12px;
  font-weight: 400;
  line-height: 10px;
  margin: 26px 0 0 0;
  padding: 4px 7px 0 2px;

  md-icon {
    color: $color-gold;
    font-size: 21px;
    margin: 0 -4px 0 0;
    vertical-align: middle;
  }
}

.user-locations {
  margin-right: 15px;

  md-icon {
    color: $color-highlight;
  }
}
