@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './variables';

html,
body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  overflow: hidden;
}

.clearfix {
  clear: both;
}

.desktop-only {
  display: none !important;

  @include tablet {
    display: block !important;
  }
}

.mobile-only {
  display: block !important;

  @include tablet {
    display: none !important;
  }
}

.text-center {
  text-align: center;
}

.no-height {
  height: 0;
  overflow: hidden;
}

.disabled-button {
  opacity: .4;
  pointer-events: none;
}

.highlight-text {
  color: $color-highlight;
}

.mat-raised-button {
  background: $color-highlight;
  border-radius: 0 !important;
  text-transform: uppercase;

  &.alt {
    background: transparent;
    border: 2px solid $color-highlight;
  }
}

.mat-button-wrapper {
  color: $color-white;
  text-transform: uppercase;
}

.mat-calendar-period-button .mat-button-wrapper {
  color: $color-grey;
}

.search-posts {
  margin-bottom: 12px;

  .mat-input-placeholder {
    color: $color-white;
  }

  .mat-input-wrapper {
    padding: 5px 0;
  }

  .mat-input-infix {
    border-top: none;
  }

  .mat-input-underline {
    display: none;
  }
}

.alt .mat-button-wrapper {
  color: $color-highlight;
}

.mat-card {
  box-shadow: none !important;
  border-radius: 6px !important;
}

.grey-text .mat-button-wrapper {
  color: $color-grey;
}

.mat-input-underline {
  background-color: $color-highlight;
  border-top-color: $color-highlight;
}

.mat-input-placeholder {
  color: $color-grey-mid;
}

.mat-select {
  color: $color-grey;
  margin: .2em 0;
  width: 100%;
}

.mat-select-underline {
  background: $color-highlight;
}

.mat-input-underline .mat-input-ripple,
.mat-select:focus:not(.mat-select-disabled) .mat-select-underline {
  background-color: $color-highlight;
}

.mat-input-placeholder.mat-focused,
.mat-select:focus:not(.mat-select-disabled) .mat-select-trigger {
  color: $color-highlight;
}

.mat-select-placeholder {
  margin-bottom: 10px;
}

.mat-select-value-text {
  color: $color-main;
  margin-left: 10px;
}

.mat-select-placeholder.mat-floating-placeholder {
  margin-bottom: 0;
}

md-option:hover {
  background: $color-grey-lighter;
}

.mat-spinner {
  path {
    stroke: $color-highlight;
  }
}

.mat-tab-label,
.mat-ink-bar {
  font-size: 1em !important;
  width: 50% !important;
}

.mat-ink-bar {
  background-color: $color-highlight;
}

snack-bar-container {
  background: $color-highlight !important;
}

.mat-tab-header-pagination-disabled,
.mat-tab-header-pagination-after,
.mat-tab-header-pagination-before {

  @include tablet {
    display: none !important;
  }
}

.my-posts {
  .post-user {
    display: none;
  }
}

md-input-container.alt {
  .mat-input-wrapper {
    background: $color-white;
    border: 1px solid $color-highlight;
    border-radius: 5px;
    height: 25px;
    padding: 6px;
  }

  .mat-input-infix {
    border-top: none;
    padding-top: 0;
  }

  .mat-input-underline {
    display: none;
  }

  .mat-input-placeholder-wrapper {
    top: -20px;
  }
}
